<div class="wrap cf" *ngIf="cartProducts.length > 0">
  
  <div class="heading cf">
    <h1>My Cart</h1>
  </div>
  <div class="cart">
    <ul class="cartWrap">
      <li class="items odd" *ngFor="let product of cartProducts"> 
        <div class="infoWrap"> 
        <div class="cartSection">
        <img [src]="product.productImageUrl" alt="" class="itemImg" />
          <p class="itemNumber">{{ product.productCategory }}</p>
          <h3>{{ product.Product }}</h3>
          <p>{{ product.Description }}</p>
        </div>  
        <div class="prodTotal cartSection">
          <p>₹ {{ product.Price }}</p>
        </div>
              <div class="cartSection removeWrap">
           <a (click)="removeCartProduct(product)">
              <i class="fa fa-trash"></i>
           </a>
        </div>
        </div>
      </li>
    </ul>
  </div>
  
  <div class="subtotal cf">
    <app-cart-calculator [products]="cartProducts"></app-cart-calculator>
  </div>
</div>
<div class="container" *ngIf="cartProducts.length === 0">
  <app-no-products-found [title]="messageTitle" [description]="messageDescription"></app-no-products-found>
</div>