<div class="container">
<br>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="brand_select" style="margin-left: 48px;">By Subcategory</label>
        <ul *ngFor="let subcat of subCategoryList">
          <li><a [routerLink]="['/products/category/',subcat.catname,subcat.name]"> {{ subcat.name }} </a> </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">

      <div class="container">
    <div class="row" *ngIf="!loading">
        <div class="col-md-4 col-sm-6" *ngFor="let product of productList | filterByBrand: selectedBrand | paginate: { itemsPerPage: 12, currentPage: page }">
            <div class="product-grid3">
                <div class="product-image3">
                    <a [routerLink]="['/products/product', product.$key]">
                        <img class="pic-1" [src]="product.image">
                    </a> 
                    <ul class="social" style="list-style-type: none;text-decoration: none;">
                        <li><a (click)="addFavourite(product)"><i class="fa fa-heart"></i></a></li>
                        <li><a (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content" >
              <!--       <h3 class="title">{{ product.Category }}</h3> -->
                    <strong>
                        <a [routerLink]="['/products/product', product.$key]" routerLinkActive="router-link-active">{{
                          product.Product }}</a>
                    </strong>
                    <p class="card-text" style="text-decoration: none;">{{ product.Description | truncate:[40] }}
                    </p>
                    <div class="price">
                        ₹ {{ product.Price }}
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>