 
<!--   <app-best-product></app-best-product> -->

  <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/banner_img/img_1.jpg " alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="../../assets/banner_img/img_2.jpg " alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="../../assets/banner_img/img_3.jpg " alt="New York" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div class="row" *ngIf="!loading">
        <div class="col-md-3 col-sm-6" *ngFor="let category of categoryList">
            <div class="product-grid3">
                <div class="product-image3">
                  <a [routerLink]="['/products/all-products']">
                    <img class="pic-1" [src]="category.image">
                  </a> 
                </div>
                <div class="product-content">
                    <h3 class="title">{{ category.name }}</h3>            
                </div>
            </div>
        </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
       <div class="row h-50">
          <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
              <div class="box">
             <img src="http://fakeimg.pl/758x370/" class="img-ht img-fluid rounded">
              </div>
          </div>
      </div>
    
      <div class="row h-50">
         <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
          <div class="box">
          <img src="http://fakeimg.pl/748x177/" class="img-ht img-fluid rounded">
        </div>
        </div>

        <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
         <div class="box">
          <img src="http://fakeimg.pl/371x370/" class="img-ht img-fluid rounded">
        </div>
        </div>
            </div>
      </div>

      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
         <div class="col-md-12 col-sm-6 co-xs-12 gal-item h-25">
            <div class="box">
              <img src="http://fakeimg.pl/748x177/" class="img-ht img-fluid rounded">
            </div>
          </div>

          <div class="col-md-12 col-sm-6 co-xs-12 gal-item h-75">
            <div class="box">
              <img src="http://fakeimg.pl/748x177/" class="img-ht img-fluid rounded">
            </div>
          </div>
      </div>
  </div>


  <app-best-product></app-best-product> 
</div>
