<div class="footer-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <h3>ABOUT Grobazar</h3>
        <div class="footer-logo"><img src="" alt="Grobazar"></div>
        <p><!--Moto or Paragraph-->We at GroBazar believe in delivering the best services at best prices to our customers at their door step. 

Here at GroBazar you can fullfill all your needs at the same place. A perfect solution for all your daily life problems.  

Order thousands of products like groceries, biscuits, fruits, soft-drinks, baby-care, shaving creams, body lotion etc. at a single place. Shopping for all your daily needs made easy here at GroBazar. 

 

 

 </p>
      </div>
      <div class="col-md-2 col-sm-6">
        <h3>Quick  LInks</h3>
        <ul class="footer-links">
          <li><a [routerLink]="[ '/' ]">Home</a></li>
          <li><a [routerLink]="[ '/privacypolicy' ]">Privacy Policy</a></li>
          <li><a [routerLink]="[ '/faq' ]">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3>CATEGORIES</h3>
        <ul class="footer-category" *ngFor="let category of categoryList">
          <li><a routerLink="products/category/{{category.name}}">{{category.name}}</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3>Address</h3>
        <div class="address">ADD </div>
        <div class="info"><i class="fa fa-phone" aria-hidden="true"></i> <a href="#.">(777) 123 4567</a></div>
        <div class="info"><i class="fa fa-fax" aria-hidden="true"></i> <a href="#.">(123) 456 7890</a></div>
      </div>
    </div>
    <div class="copyright">Copyright © Karan - All Rights Reserved.</div>
  </div>
</div>